.titleclass{
    color:red;
}
.imgclass{
    width:500px;
    height:500px;
}
.active{
    color:green;
}
.proizved{
    text-align:center;
    font-weight:bold;
    font-size:30px;
}
.artist{
    list-style:none;
}
.card{
    list-style:none;
}
.container{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:15px;
}
.menu{
    display:flex;
    width:100%;
    height: 100px;
}
.one_menu{
    flex-basis:auto;
    flex-grow:1;
    padding-top:30px;
}
.avatar{
    width:200px;
    height:200px;
    background-size: cover;
    background-position:center;
    border-radius:50%;
}
.logo{
    height:50px;
    position:relative;
    color: #337AB7;
    letter-spacing:3px;
    display:inline-block;
    line-height:50px;
    font-size:48px;
    font-family:'Russo One',sans-serif;
    font-variant: small-caps;
    text-shadow: 1px 1px #fffcf5, 3px 3px;
    transition: color 0.3s ease-in-out;
}
.logo b{
    font-variant: normal;
}