<div class="menu">
    <a href="{% url 'mainapp:main' %}" class="logo"><b>Арзамасский </b>театр<div>драммы</div></a>
    <a href="{% url 'mainapp:contacts' %}"
       class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %} one_menu">Контакты</a>
    {% for link in links %}
    <a href="{% url 'mainapp:genre' link.pk %}"
       class="{% if request.resolver_match.url_name == 'link' %}active{% endif %} one_menu">{{link.title}}</a>
    {% endfor %}
    {% if request.user.is_authenticated %}
    <a href="{% url 'authapp:profile' %}" class="one_menu">{{user.username|default:'user'}}</a>
    <a href="{% url 'authapp:logout' %}" class="one_menu">Выйти</a>
    {% else %}
    <a href="{% url 'authapp:register' %}" class="one_menu">Зарегистрироваться</a>
    <a href="{% url 'authapp:authentication' %}" class="one_menu">Войти</a>
    {% endif %}
</div>

