<div class="menu">
    <a href="{% url 'mainapp:main' %}" class="{% if request.resolver_match.url_name == 'main' %}active{% endif %}">Главная</a>
    <a href="{% url 'mainapp:contacts' %}" class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %}">Контакты</a>
    {% for link in links %}
    <a href="{% url 'mainapp:genre' link.pk %}"
       class="{% if request.resolver_match.url_name == 'link' %}active{% endif %}">{{link.title}}</a>
    {% endfor %}
    {% if request.user.is_authenticated %}
    {{request.user.username}}
    <a href="{% url 'authapp:logout' %}">Выйти</a>
    {% else %}<a href="{% url 'authapp:authentication' %}">Войти</a>{% endif %}
</div>